@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-family: 'Karla', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* override some taostify initial styles*/

.Toastify__toast {
  padding: 0px;
  border-radius: 12px;
  margin: 20px;
}

@media (min-width: 768px) {
  .Toastify__toast-container {
    width: max-content;
  }
  .Toastify__toast {
    margin: 0;
  }
}
